
{% extends 'base.twig' %}
{% block head %}
    <script src="/assets/js/cargalotes.js" defer></script>
{% endblock %}

{% block content %}

<main class="admform-container">
    <h1>Carga de datos</h1>

    <table class="tabla-lotes"  >
          <thead>
                <tr>
                    <th>Producto</th>
                    <th>Lote Num</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lote in lotes %}
                <tr>    
                    <td>{{ lote.producto.nombre }}</td>
                    <td>{{ lote.numero }}</td>
                    <td>
                        <a href="/lotes/cargar?id={{ lote.id }}" class="btn-editar" data-id="{{ lote.id }}"></a>
                        <a href="/lotes/ver?id={{ lote.id }}" class="btn-editar-ver" data-id="{{ lote.id }}"></a>
                    </td>                        
                </tr>
                {% endfor %}
            </tbody>
      </table>
  </main>

{% endblock %}