
{% extends 'base.twig' %}
{% block head %}
    <script src="/assets/js/cargalotes.js" defer></script>
{% endblock %}

{% block content %}

<main class="admform-container" itemscope itemtype="http://schema.org/WebPage">
    <h1 itemprop="headline">Carga de datos</h1>

    <table class="tabla-lotes" itemscope itemtype="http://schema.org/Table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Lote Num</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lote in lotes %}
            <tr itemscope itemtype="http://schema.org/Thing">
                <td itemprop="name">{{ lote.producto.nombre }}</td>
                <td itemprop="identifier">{{ lote.numero }}</td>
                <td>
                    <a href="/lotes/cargar?id={{ lote.id }}" class="btn-editar btn-editarver" data-id="{{ lote.id }}" itemprop="potentialAction" title="Editar los valores de cada fase del lote"></a>
                    <a href="/lotes/ver?id={{ lote.id }}" class="btn-editar-ver btn-editarver" data-id="{{ lote.id }}" itemprop="potentialAction" title="Ver los valores de todas las fases del lote"></a>
                </td>                        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock %}