{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/admlotes.js" defer></script>
{% endblock %}

{% block content %}

  <main class="admlotes-container">
    <h1>Creaci처n de Lotes</h1>
    <form class="crearLoteForm" method="POST" action="api/lotes">
      <label>Tipo:</label>
      <select class="selectTipoProducto" {% if data.fields.tipo_producto_id is defined %}data-value="{{ data.fields.tipo_producto_id }}"{% endif %}></select>
      
      <label>Producto:</label>
      <select class="selectProducto" name="producto_id" {% if data.fields.producto_id is defined %}data-value="{{ data.fields.producto_id }}"{% endif %}></select>
      
      <label>Producci처n N째:</label>
      <input type="number" id="numeroProduccion" name="numero" required {% if data.fields.numero is defined %}value="{{ data.fields.numero }}"{% endif %}>
      
      <label>Supervisor:</label>
      <select class="supervisor" name="supervisor_id" {% if data.fields.supervisor_id is defined %}data-value="{{ data.fields.supervisor_id }}"{% endif %}></select>
      
      <label>Encargado de Producci처n:</label>
      <select class="encargadoProduccion" name="encargado_produccion_id" {% if data.fields.encargado_produccion_id is defined %}data-value="{{ data.fields.encargado_produccion_id }}"{% endif %}></select>
      
      <label>Encargado de Limpieza:</label>
      <select class="encargadoLimpieza" name="encargado_limpieza_id" {% if data.fields.encargado_limpieza_id is defined %}data-value="{{ data.fields.encargado_limpieza_id }}"{% endif %}></select>
      
      <button type="submit">Guardar</button>
    </form>
  </main>

{% endblock %}
  
