{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/admproductos.js" defer></script>
{% endblock %}

{% block content %}

<main class="admtipopro-container" itemscope itemtype="http://schema.org/WebPage">
    <h2 itemprop="headline">Gestión de productos</h2>

    <!-- Formulario para agregar producto -->
    <section class="formulario-producto" itemscope itemtype="http://schema.org/Form">
        <label for="tipoprod">Tipo de producto:</label>
        <select id="tipoprod" name="tipoprod_id" required itemprop="object.category">
            {% for tipoprod in tipo_productos %}
                <option value="{{ tipoprod.id }}">{{ tipoprod.nombre|capitalize }}</option>
            {% endfor %}
        </select>
        
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="agregarProducto" placeholder="Cuartirolo" itemprop="object.name">
        <button class="btn" id="btnAgregarProducto" itemprop="potentialAction">Agregar Producto</button>
    </section>

    <!-- Tabla de productos -->
    <table id="tablaProductos" itemscope itemtype="http://schema.org/Table">
        <thead>
            <tr>
                <th>Tipo de producto</th>
                <th>Nombre producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr data-id="{{ producto.id }}" itemscope itemtype="http://schema.org/Product">
                    <td itemprop="category">{{ producto.tipo_producto.nombre }}</td>
                    <td class="nombreProducto" itemprop="name">{{ producto.nombre }}</td>
                    <td>
                        <ul class="lista-horizontal">
                            <li><button class="btnEditar" itemprop="potentialAction">✏️</button></li>
                            <li><button class="btnEliminar" itemprop="potentialAction">❌</button></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock %}
