{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/admproductos.js" defer></script>
{% endblock %}

{% block content %}

<main class="admtipopro-container">
    <h1>Gestión de productos</h1>

    <!-- Formulario para agregar producto -->
    <label for="tipoprod">Tipo de producto:</label>
    <select id="tipoprod" name="tipoprod_id" required>
        {% for tipoprod in tipo_productos %}
            <option value="{{ tipoprod.id }}">{{ tipoprod.nombre|capitalize }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="nombre">Nombre del producto:</label>
    <input type="text" id="agregarProducto" placeholder="Cuartirolo">
    <button id="btnAgregarProducto">Agregar Producto</button>

    <!-- Tabla de productos -->
    <table id="tablaProductos">
        <thead>
            <tr>
                <th>Tipo de producto</th>
                <th>Nombre producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr data-id="{{ producto.id }}">
                    <td>{{ producto.tipo_producto.nombre }}</td>
                    <td class="nombreProducto">{{ producto.nombre }}</td>
                    <td>
                        <ul class="lista-horizontal">
                            <li><button class="btnEditar">✏️</button></li>
                            <li><button class="btnEliminar">❌</button></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
