
{% extends 'base.twig' %}

{% block head %}
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function () {
        emailjs.init({
        publicKey: "{{ emailjskey }}",
        });
    })();
    </script>
    <script src="/assets/js/admusuarios.js" defer></script>
{% endblock %}

{% block content %}
<main class="admform-container" itemscope itemtype="http://schema.org/WebPage">
    <h2 itemprop="headline">Gestión de Usuarios</h2>

    <!-- Filtro de Usuarios -->
    <form class="filtrador" itemscope itemtype="http://schema.org/SearchAction">
        <h3>Filtrar usuarios</h3>
        <meta itemprop="target" content="/search?query={query}" />
        <label for="filtro" hidden>Filtrar usuarios</label>
        <input type="text" id="filtro" placeholder="Filtrar por email" itemprop="query-input">
    </form>

    <!-- Tabla de Usuarios -->
    <table class="tabla-usuarios relative" data-cant-users="{{ cantUsers }}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <ul class="paginator lista-horizontal relative">
        <li class="button btn" data-page="first">&lt;&lt;</li>
        <li class="button btn" data-page="prev">&lt;</li>
        
        <!-- Contenedor para los números de página -->
        <ol class="page-numbers lista-horizontal"></ol>

        <li class="button btn" data-page="next">&gt;</li>
        <li class="button btn" data-page="last">&gt;&gt;</li>
    </ul>

    <!-- Formulario para Agregar/Editar Usuario -->
    <form class="login-form" action="register" method="post">
        <h3>Agregar usuario</h3>
        <label for="email">Email:</label>
        <input id="email" type="text" class="email-input" name="email" title="ingrese el correo electronico del usuario que desea registrar" required>
        
        <label for="rol">Rol:</label>
        <select id="rol" class="rol-select capitalize" name="rol_id" title="ingrese el rol que va a tener el usuario que desea registrar"required>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.nombre }}</option>
            {% endfor %}
        </select>
        
        {% if status %}
            <output class="login-error">{{ status }}</output>
        {% else %}
            <output class="login-error"></output>
        {% endif %}
        
        <button class="btn-registrar" type="button" itemprop="potentialAction">Registrar Usuario</button>    
    </form>
</main>

{% endblock %}