
{% extends 'base.twig' %}


{% block content %}
<main class="admform-container">
    <h1>Gestión de Usuarios</h1>

    <!-- Filtro de Usuarios -->
    <input type="text" id="filtro" placeholder="Filtrar por nombre">
    <button onclick="filtrarUsuarios()">Filtrar</button>

    <!-- Tabla de Usuarios -->
    <table id="tablaUsuarios">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.rol.nombre }}</td>
            <td></td>
          </tr>
        {% endfor %}
    </table>

    <!-- Formulario para Agregar/Editar Usuario -->
    <form class="login-form" action="register" method="post">
        <label for="email">Email:</label>
        <input type="text" id="nombre" required>
        <label for="rol">Rol:</label>
        <select id="rol" name="rol_id" required>
            {% for role in roles %}
              <option value="{{ role.id }}">{{ role.nombre | ucfirst }}</option>
            {% endfor %}
        </select>
        <button type="submit">Actualizar Usuario</button>
        {% if status %}
        <p class="login-error">{{ status }}</p>
        {% endif %}
        <button type="submit">Registrar Usuario</button>
    </form>
  </main>

{% endblock %}