
{% extends 'base.twig' %}


{% block content %}
<main class="admform-container">
    <h1>Gestión de Usuarios</h1>

    <!-- Filtro de Usuarios -->
    <div class="filtrador">
        <input type="text" class="filtro" placeholder="Filtrar por nombre">
        <button onclick="filtrarUsuarios()">Filtrar</button>
    </div>
    <!-- Tabla de Usuarios -->
    <table class="tabla-usuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td class="no-padding">
                    <ul class="lista-horizontal">
                        <li class="capitalize">{{ user.rol.nombre }}</li>
                        <li>
                            <a href="#" 
                            class="modify modifyRoleButton"  data-id={{ user.id }} rol-nombre={{user.rol.nombre}}>
                            <img/></a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="lista-horizontal">
                        <li>
                            <a href="#" 
                                class="toggleStatusButton {{ user.deshabilitado ? 'up' : 'down' }}"
                                data-id="{{ user.id }}"
                                data-status="{{ user.deshabilitado }}">
                                <img/>
                            </a>
                        </li>  
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="lista-horizontal">
    <li class="button">&lt</li>
    <li class="button">1</li>
    <li class="button">2</li>
    <li class="button pag-current" >3</li>
    <li class="button">4</li>
    <li class="button">5</li>
    <li class="button">&gt</li>
    </ul>

    <!-- Formulario para Agregar/Editar Usuario -->
    <form class="login-form" action="register" method="post">
        <label for="email">Email:</label>
        <input type="text" class="email-input" name="email" required>
        
        <label for="rol">Rol:</label>
        <select class="rol-select capitalize" name="rol_id" required>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.nombre }}</option>
            {% endfor %}
        </select>
        
        {% if status %}
            <p class="login-error">{{ status }}</p>
        {% else %}
            <p class="login-error"></p>
        {% endif %}
        
        <button class="btn-registrar" type="button">Registrar Usuario</button>
    </form>
  </main>

{% endblock %}