{% extends 'base.twig' %}

{% block content %}

<main class="index-container" itemscope itemtype="http://schema.org/WebPage">
    <section itemscope itemtype="http://schema.org/Person">
        <h2 class="capitalize" itemprop="headline">Lote {{ lote.numero }} - {{ lote.producto.nombre }}</h2>
        <h3 itemprop="dateCreated">Fecha: {{ lote.fecha }}</h3>

        <ul class="no-dots">
            <li>
                <span><strong itemprop="jobTitle">Supervisor:</strong> <em itemprop="email">{{ lote.supervisor.email }}</em></span>
            </li>

            <li>
                <span><strong itemprop="jobTitle">Encargado de producción:</strong> <em itemprop="email">{{ lote.encargado_produccion.email }}</em></span>
            </li>

            <li>
                <span><strong itemprop="jobTitle">Encargado de limpieza:</strong> <em itemprop="email">{{ lote.encargado_limpieza.email }}</em></span>
            </li>

            <li>
                <span><strong itemprop="jobTitle">Fase actual:</strong> <em itemprop="email">{{ lote.fase.nombre }}</em></span>
            </li>
        </ul>
    </section>

    <hr>
    {% for fase_nombre, atributos in lote.atributos | json_decode %}
        <section itemscope itemtype="http://schema.org/CreativeWork">
            <h2 itemprop="headline">{{ fase_nombre }}</h2>

            <ul class="no-dots multi-columns">
                {% for fase_atributos in atributos %}
                <li itemscope itemtype="http://schema.org/PropertyValue">
                    <label class="bold" itemprop="name">{{ fase_atributos.nombre }}:</label>
                    <span itemprop="value">{{ fase_atributos.valor }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</main>


{% endblock %}
