{% extends 'base.twig' %}

{% block content %}

<main class="index-container">
    <div class="index-form">
        <h1 class="capitalize">Lote {{ lote.numero }} - {{ producto.nombre }}</h1>
        <h2>Fecha: {{ lote.fecha }}</h2>

        <div class="responsables">
            <h3>Supervisor: {{ supervisor.email }}</h3>
            <h3>Encargado de producción: {{ encargado_produccion.email }}</h3>
            <h3>Encargado de limpieza: {{ encargado_limpieza.email }}</h3>
        </div>

        <h3>Fase actual: {{ fase_actual.nombre }}</h3>
        
        <div class="atributos-container">
            {% for fase in atributos %}
            <div class="fase-section">
                <h3 class="fase-title">Fase: {{ fase.nombre_fase }}</h3>
                <h4>Atributos:</h4>
                {% for key, atributo in fase.atributos %}
                <div class="atributo-detail">
                    <p><strong>Atributo:</strong> {{ key }}</p>
                    <p><strong>Tipo:</strong> {{ atributo.tipo }}</p>
                    <p><strong>Valor:</strong> {{ atributo.valor }}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}
