{% extends 'base.twig' %}

{% block content %}

<main class="index-container" itemscope itemtype="http://schema.org/WebPage">
    <h1 class="capitalize" itemprop="headline">Lote {{ lote.numero }} - {{ lote.producto.nombre }}</h1>
    <h2 itemprop="dateCreated">Fecha: {{ lote.fecha }}</h2>

    <section itemscope itemtype="http://schema.org/Person">
        <ul class="no-dots">
            <li>
                <label class="bold" itemprop="jobTitle">Supervisor:</label>
                <span itemprop="email">{{ lote.supervisor.email }}</span>
            </li>

            <li>
                <label class="bold" itemprop="jobTitle">Encargado de producción:</label>
                <span itemprop="email">{{ lote.encargado_produccion.email }}</span>
            </li>

            <li>
                <label class="bold" itemprop="jobTitle">Encargado de limpieza:</label>
                <span itemprop="email">{{ lote.encargado_limpieza.email }}</span>
            </li>

            <li>
                <label class="bold">Fase actual:</label>
                <span itemprop="name">{{ lote.fase.nombre }}</span>
            </li>
        </ul>
    </section>

    <hr>
    {% for fase_nombre, atributos in lote.atributos | json_decode %}
        <section itemscope itemtype="http://schema.org/CreativeWork">
            <h1 itemprop="headline">{{ fase_nombre }}</h1>

            <ul class="no-dots multi-columns">
                {% for fase_atributos in atributos %}
                <li itemscope itemtype="http://schema.org/PropertyValue">
                    <label class="bold" itemprop="name">{{ fase_atributos.nombre }}:</label>
                    <span itemprop="value">{{ fase_atributos.valor }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</main>


{% endblock %}
