{% extends 'base.twig' %}

{% block content %}

<main class="index-container">
    <h1 class="capitalize">Lote {{ lote.numero }} - {{ lote.producto.nombre }}</h1>
    <h2>Fecha: {{ lote.fecha }}</h2>

    <section>
        <ul class="no-dots">
            <li>
                <label class="bold">Supervisor:</label>
                <span>{{ lote.supervisor.email }}</span>
            </li>

            <li>
                <label class="bold">Encargado de producción:</label>
                <span>{{ lote.encargado_produccion.email }}</span>
            </li>

            <li>
                <label class="bold">Encargado de limpieza:</label>
                <span>{{ lote.encargado_limpieza.email }}</span>
            </li>

            <li>
                <label class="bold">Fase actual:</label>
                <span>{{ lote.fase.nombre }}</span>
            </li>
        </ul>
    </section>

    <hr>
    {% for fase_nombre, atributos in lote.atributos | json_decode %}
        <section>
            <h1>{{ fase_nombre }}</h1>

            <ul class="no-dots multi-columns">
            {% for fase_atributos in atributos %}
                <li>
                    <label class="bold">{{ fase_atributos.nombre }}:</label>
                    <span>{{ fase_atributos.valor }}</span>
                </li>
            {% endfor %}
            </ul>
        </section>

    {% endfor %}
</main>

{% endblock %}
