{% extends 'base.twig' %}

{% block content %}

<main class="index-container" itemscope itemtype="http://schema.org/WebPage">
    <section itemscope itemtype="http://schema.org/Person">
        <h2 class="capitalize" itemprop="headline">Lote {{ lote.numero }} - {{ lote.producto.nombre }}</h2>
        <h3 itemprop="dateCreated">Fecha: {{ lote.fecha }}</h3>

        <dl>
            <dt itemprop="jobTitle">Supervisor</dt>
            <dd itemprop="email">{{ lote.supervisor.email }}</dd>

            <dt itemprop="jobTitle">Encargado de producción</dt>
            <dd itemprop="email">{{ lote.encargado_produccion.email }}</dd>

            <dt itemprop="jobTitle">Encargado de limpieza</dt>
            <dd itemprop="email">{{ lote.encargado_limpieza.email }}</dd>

            <dt>Fase actual</dt>
            <dd itemprop="value">{{ lote.fase.nombre }}</dd>
        </dl>
    </section>

    <hr>
    {% for fase_nombre, atributos in lote.atributos | json_decode %}
        <section itemscope itemtype="http://schema.org/CreativeWork">
            <h2 itemprop="headline">{{ fase_nombre }}</h2>

            <dl class="no-dots multi-columns">
                {% for fase_atributos in atributos %}
                    <dt itemprop="name">{{ fase_atributos.nombre }}</dt>
                    <dd itemprop="value">{{ fase_atributos.valor }}</dd>
                {% endfor %}
            </dl>
        </section>
    {% endfor %}
</main>


{% endblock %}
